
:root {
  --main-color: #fff;
  --add-white: #d9d9d9;
  --main-bg-color: #202023;
  --accent-color: #b47b48;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Inter;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  background-image: url(../images/background_img1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding-top: 55px;
  padding-bottom: 71px;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.nav-list-item {
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
}
.nav-link {
  color: var(--main-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  transition: all 0.3s;
}
.hero {
  padding-bottom: 125px;
}
.hero-title {
  font-size: 70px;
  font-weight: 200;
  line-height: normal;
}
.hero-text {
  margin-top: 22px;
  margin-bottom: 33px;
  font-size: 21px;
  font-weight: 300;
  line-height: normal;
}
.btn-open {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  background: var(--accent-color);
  padding: 16px 34px 12px;
  border: none;
  border-radius: 17px;
}
.btn-open:hover, .shop-btn:hover,
.btn-open:focus, .shop-btn:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}
.products {
  padding-bottom: 57px;
}
.products-list {
  display: flex;
  justify-content: space-between;
}
.products-list-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #272727;
  background-image: linear-gradient(
    81deg,
    #000 -110.34%,
    rgba(0, 0, 0, 0) 80.32%
  );
  flex-basis: 310px;
}
.products-list-item:hover,
.products-list-item:focus {
  background-color: #ebad51;
  background-image: linear-gradient(
    81deg,
    #000 -110.34%,
    rgba(0, 0, 0, 0) 80.32%
  );
  transition: all 0.3s;
}
.products-inf-cookie-btn,
.products-inf-croissant-btn {
  position: absolute;
  top: 50px;
  color: var(--main-color);
  background: transparent;
  margin-top: 120px;
  font-weight: 800;
  text-align: center;
  width: 23px;
  height: 23px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}
.products-inf-cookie-btn {
  right: 160px;
}
.products-inf-croissant-btn {
  right: 110px;
}
.products-inf-cookie-btn:hover,
.products-inf-cookie-btn:focus,
.products-inf-croissant-btn:hover,
.products-inf-croissant-btn:focus {
  cursor: pointer;
}
.products-wrapper {
  text-align: center;
}
.products-price {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
}
.products-title {
  font-weight: 500;
  margin-bottom: 35px;
}
.products-btn {
  color: var(--main-color);
  font-weight: 900;
  background: #c85312;
  border: none;
  padding: 10px 22px 5px;
}
.products-btn:hover,
.products-btn:focus {
  cursor: pointer;
}
.menu {
  padding-bottom: 163px;
}
.menu-photo {
  margin: 10px auto;
}
.menu-title {
  margin-bottom: 18px;
  text-align: center;
  font-size: 64px;
  font-weight: 100;
  line-height: normal;
}
.menu-item-title,
.menu-btn {
  color: var(--main-color);
  font-size: 25.92px;
  font-weight: 800;
  line-height: normal;
}
.menu-btn:hover,
.menu-btn:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 12px;
  column-gap: 198px;
}
.menu-list-item {
  flex-basis: 328px;
}
.menu-wrapper {
  border: 1px solid var(--main-color);
}
.menu-item-title {
  text-align: center;
}
.menu-btn {
  margin: 0 90px auto;
  margin-top: 9px;
  background: var(--accent-color);
  width: 160px;
  height: 41px;
  border: none;
  border-radius: 17px;
}
.recipes {
  padding-bottom: 48px;
  background-image: url(../images/background_img3.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.recipes-title {
  margin-left: 594px;
  font-family: Italiana;
  font-size: 64px;
  font-weight: 400;
  line-height: normal;
}
.recipes-list {
  display: flex;
  justify-content: space-between;
}
.recipes-photo1,
.recipes-photo2,
.recipes-photo3 {
  margin: 0 auto;
}
.recipes-photo2 {
  padding-top: 84px;
}
.recipes-photo3 {
  padding-top: 123px;
}
.recipes-wrapper {
  margin-top: 20px;
  padding: 14px 20px 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  background-color: rgba(242, 242, 242, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
}
.advantages {
  padding-top: 55px;
  padding-bottom: 56px;
  background-image: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0) 77.17%),
    url(../images/background_img2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.advantages-title {
  margin-bottom: 135px;
  color: #d9d9d9;
  font-family: Italiana;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}
.advantages-list {
  display: flex;
  justify-content: space-around;
}
.advantages-list-item {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.advantages-list-item:first-child {
  text-align: left;
}
.advantages-list:nth-child(2) {
  text-align: center;
}
.advantages-list-item::before {
  content: "";
  display: block;
  width: 219px;
  height: 183px;
  background-image: url(../images/advantages_img3.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}
.advantages-list-item:first-child::before {
  margin-left: 18px;
}
.advantages-list-item:nth-child(2)::before {
  background-image: url(..//images/advantages_img2.svg);
  background-position: left top;
}
.advantages-list-item:nth-child(3)::before {
  background-image: url(../images/advantages_img1.svg);
}
.footer {
  padding-top: 66px;
  padding-bottom: 44px;
}
.footer-first-title {
  font-family: Italiana;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
}
.footer-iframe {
  margin-right: 133px;
}
.footer-list {
  display: flex;
}
.footer-item-title {
  margin-bottom: 49px;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}
.contacts-link,
.footer-item-text,
.information-link,
.footer-information-title {
  color: var(--main-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.contacts-link:hover,
.contacts-link:focus,
.information-link:hover,
.information-link:focus {
  color: var(--accent-color);
  transition: all 0.3s;
}
.footer-contacts-item:nth-child(1) {
  margin-bottom: 65px;
}
.footer-address {
  margin-bottom: 30px;
}
.footer-item-text {
  text-align: center;
}
.footer-information-title {
  margin-bottom: 41px;
}
.footer-information-list {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.footer-second-title-link {
  color: var(--main-color);
  font-size: 40px;
  font-weight: 200;
  line-height: normal;
}
.footer-second-title-link:hover,
.footer-second-title-link:focus {
  color: var(--accent-color);
  transition: all 0.3s;
}
.footer-headline {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
.copyright {
  margin-top: 86px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  line-height: normal;
}
.scroll-btn {
  display: block;
  position: fixed;
  padding: 12px;
  background-color: var(--accent-color);
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
}
.scroll-btn::before {
  content: '';
  display: block;
  position: relative;
  top: 2px;
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-color: var(--main-bg-color);
  border-style: solid;
  transform: rotate(-135deg);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
 width: 100%;
 height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms linear;
  backdrop-filter: blur(5px);
 }
 .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
 }
 .no-scroll {
  overflow: hidden;
 }
 .modal {
  position: absolute;
  top: 70%;
  left: 50%;
 min-width: 990px;
 min-height: 669px;
  padding: 80px;
  border-radius: 50px;
  background-color: var(--main-color);
  transform: translate(-50%, -70%);
  background-image: url(../images/bg-modal-img.png); 
  background-repeat: no-repeat;
  background-position: right;
 }
.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 25px;
}
.icon-cross-svg {
  fill: rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-cross-svg,
.btn-close:focus .icon-cross-svg {
  fill: var(--accent-color);
  cursor: pointer;
}
.icon-cross-svg:hover,
.icon-cross-svg:focus {
  fill: var(--accent-color);
}
 .modal-title {
  color: var(--main-bg-color);
  font-size: 48px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 40px;
 }
 .modal-form {
  display: flex;
  flex-direction: column;
  gap: 60px;
 }
 .modal-input {
  padding-left: 40px;
  padding-top: 22px;
  padding-bottom: 22px;
  outline: none;
  border: none;
  background-color: #F5F5F5;
  max-width: 412px;
  transition: background-color, color 350ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-input:hover, .modal-input:focus {
  background-color: rgba(234, 177, 93, 0.201);
  color: var(--accent-color);
  cursor: pointer;
 }
 .shop-btn {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  background: var(--accent-color);
  padding: 16px 34px 12px;
  border: none;
  border-radius: 17px;
  max-width: 207px;
 }
